<div  class="logformadmin">
  <div class="boxformadmin">
    <h2 class="textformadnin"> <img src="">  Вхід в Особистий кабінет	</h2>
    <form  action method="get" class="login">
      <input class="email__adr" type="email" placeholder="Email Address" required>
      <input class="password" type="password" placeholder="Password" minlength="6" required >
      <button  class="button__1" name="submit" > <h4> Login IN </h4></button>
      <button  class="button__1" name="submit" > <h4> Registration </h4></button>
    </form>
    <p class="lasttextformadmin"> Вибачте на тимчасові незручності . На даний момент з технічних причин реєстрація на сайті неможлива </p>

  </div>
</div>
