

<div class="body_1">

  <div class="main1"></div>
  <div class="main2"></div>
  <div class="main3">
    <div class="content_left">
      <img class="mainimage" src="{{image}}">

    </div>
    <div class="content_right">
      <p class="NEW"> Хіт продаж </p>
      <p class="mtext">{{name}}</p>
      <p class="p_star"> &#9733;&#9733;&#9733;&#9733;&#9733;</p>
      <br>
      <p class="prise"> UAH 200 </p>
      <p  class="last1">   <button class="buttonAddBug">Купити</button> </p>
    </div>
    <div class="infoblock"><p>
      {{info}}
    </p>
    </div>
  </div>












</div>
