


<hr> <p class="navigationSite">  <a routerLink="/home"> Головна </a>   &#10148;  <a routerLink="/contact">
  Контакти </a></p> <hr>
<div class="lt-contact__conteiner" >
  <div class="form__contact">
    <div class="lt-form__contact">
      <form>
        <input class="name__input" type="text" name="name" placeholder="Ваше Імя..." required>
        <br>
        <input class="email__adr2" type="email" placeholder="Ваш mail адреса... " required>
        <br>
        <input class="phone__input" type="text" name="number" placeholder="Ваш номер телефону..." required>
        <br>
        <textarea class="massage__input"  placeholder="Ваше повідомлення...." required ></textarea>
        <button  class="button__2" name="submit" >  <b>ВІДПРАВИТИ </b> </button></form>
</div>
    <div class="lt-form__contact2">
      <p class="form__text">Адреса </p>
      <p class="form__text2">  Україна  м Івано-Франківськ вул Незалежності NN </p>
      <p class="form__text">EMAIL</p>
      <p class="form__text2">cahee@domain.com</p>
      <p class="form__text">Номер Телефону</p>
      <p class="form__text2">+0123456789</p>
      <div class="contactmMap"><img src="https://developers.google.com/maps/images/landing/hero_mobile_maps_sdks.png"></div>
    </div>
