.productWindow {
  display: inline-block;
  background: white;
  margin: 10px;
  border: black 1 px;
  width: 30%;
  box-shadow: 0 0 12px rgba(0,0,0,0.7);
}

.productItemImage{
  width:60%;
  margin-left:20%;
  display: inline-block;
}
.productItemImage img {
  width: 80%;
}
.product {
  padding: 20px;
  clear: both;

}
.productItem {
  padding: 20px;

}
.buttonAddBug {
  margin-bottom: 20px;
}
.mainBug {
  width: 80%;
  float: right;
}
.searchItem {

  width:40%;
  border-radius: 4px;
  background-color:  #f0f0f0;
  height: 35px;
  padding-left: 10px;
  border-style: none;
  margin:4x;
  margin-left: 0.5%;
}
.somethin {
  padding: 30px;
}
