.mainHeaderShop {
  background-position: top center;
  background-size: cover;
  margin: auto;
  width: 100%;
  font-size: 20px;
  height: 100px;
  color: black;
}
.rekalama {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
  margin: 1px 1px;
}
.mainBug {
  width: 80%;
  float: right;
}







