<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="http://localhost:4200/home">Весь асортимент</a>
  <a href="#">Протеїни</a>
  <a href="#">Гейнери</a>
  <a href="#">Рено Sandero</a>
  <a href="#">хімія всяка</a>
</div>

<table>
  <tr>
    <th class="leftmenu">
      <a onclick="openNav()" > Магазин </a>
      <a routerLink="/about-us" >Про нас </a>
      <a routerLink="/contact">Контакти </a>
    </th>
    <th><p class="mainLogo">The Thor</p></th>
    <th class="rightmenu" ><a  routerLink="/home" >Home</a>
      <a href="">News</a>
      <a routerLink="/bag"><img src="https://cdn-icons-png.flaticon.com/128/6933/6933505.png">Кошик</a>
      <a  routerLink="/loginuser"><img src="https://cdn-icons-png.flaticon.com/128/6681/6681225.png"> Вхід </a></th>
  </tr>
</table>



